* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/dist/images/background.jpg');
    background-size: cover;
    background-repeat: repeat;
}

@font-face {
    font-family: Mario;
    src: url(/dist/tlpsmb.ttf);
}

header {
    h1 {
        background: red;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        text-align: center;
        border-radius: 4px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        padding: 20px;
        font-family: Mario;
        color: #fff;
        text-shadow: 2px 2px #000;
    }
}

.mute svg:hover {
    cursor: pointer;
}

.container {
    padding: 0 40px;
    max-width: 680px;
    width: 100%;
    margin: 50px auto;

    button {
        padding: 20px;
        max-width: 200px;
        width: 100%;
        margin: 40px auto;
        font-size: 28px;
        background: red;
        border-radius: 4px;
        border: 1px solid red;
        color: #fff;
        font-weight: 700;
        font-family: helvetica, sans-serif;
        transition: color 0.3s, background 0.3s;
        &:hover {
            cursor: pointer;
            color: red;
            background: #fff;
        }
    }
}

.board {
    margin-top: 40px;
    margin-right: -20px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    position: relative;
    width: 25%;
    padding-right: 20px;
    padding-bottom: 20px;
    .tile__inner {
        background: #fff;
        transition: transform 0.4s ease-in;
        background-size: 90%;
        background-position: center center;
        background-repeat: no-repeat;
        padding-bottom: 99%;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        position: static;
        -webkit-transform: rotateY(0deg); /* Safari */
        transform: rotateY(0deg); 
    }
    .tile__inner.question-mark  {
        background-size: 100%;
        transition: transform 0.4s ease-in;
        position: absolute;
        -webkit-transform: rotateY(180deg); /* Safari */
        transform: rotateY(180deg); 
    }
    &.hidden .tile__inner{
        transition: transform 0.4s ease-in;
        position: absolute;
        -webkit-transform: rotateY(180deg); /* Safari */
        transform: rotateY(180deg); 
    }
    &.hidden .tile__inner.question-mark {
        transition: transform 0.4s ease-in;
        position: static;
        -webkit-transform: rotateY(0deg); /* Safari */
        transform: rotateY(0deg); 
    }
}

.mute {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.winner {
    width: 100%;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 0.05em;
    font-weight: 500;
    background: red;
    padding: 40px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 700px){
    .tile {
      width: 50%;
    }
}